<section class="header">
    <div class="music-search-conainer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="logo">
                        <a href="index.html"><img src="../../assets/images/logo-music-store.png" title="logo"></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="search-box">
                        <form><input type="text"><input type="submit" value="search"></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light navigation">
        <a class="navbar-brand navbar-toggler" [ngClass]="{'show': expandNavbar}" href="index.html">
            <span>Musix</span>
        </a>
        <button class="navbar-toggler toggler" type="button" (click)="expandNavbar = !expandNavbar">
            <span class="menu-icon"><i class="fa fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse menu-item" [ngClass]="{'show': expandNavbar}">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active">About</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a></li>
            </ul>
        </div>
    </nav>
</section>