<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <p class="footer-title">Information</p>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="#">Legal Notice</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <p class="footer-title">Information</p>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="#">Legal Notice</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <p class="footer-title">Information</p>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="#">Legal Notice</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <p class="footer-title">Get In Touch</p>
                    <ul class="social-contact">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="#">Legal Notice</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 credit">
                    Developed by <a href="http://niranzan/com">niranjzan</a> with <i class="fa fa-music" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</footer>