<section class="bannersection" [hidden]="bbnVsblty">
    <div class="flash-slider">
        <div id="bannersSlider" class="carousel slide" data-ride="carousel">
            <div class="carousel-container">
                <igx-carousel #carousel [loop]="true" indicatorsOrientation="top" animationType="fade">
                    <igx-slide *ngFor="let slide of slides;">
                        <div class="image-container">
                            <img [src]="slide.src">
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                    <h2><span>Welcome to <strong>Online Lyrics Store</strong></span></h2><br>
                                    <h3><span>You can find lyrics of all kinds of songs here.</span></h3><br>
                                    <!-- <div class="slider-option"><a class="btn btn-lg btn-danger" href="#mainsection">Browse Now</a></div> -->
                                </div>
                            </div>
                        </div>
                    </igx-slide>
                </igx-carousel>
            </div>
        </div>
    </div>
</section>