@import '../sass/variables';
@import '../sass/mixins';
.banner {
    background-color: $theme-background;
    padding: 10px;
    font-size: 12px;
    width: 100%;
    min-height: 20px;
    a {
        color: $base-text-color;
        text-decoration: none;
        font-size: 15px;
    }
    a:hover {
        color: $base-odd-background;
        text-decoration: none;
    }
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

@media only screen and (max-width: 1366px) and (min-width: 1280px) {
    .wrap {
        width: 90%;
    }
}