<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- <div class="float-left"><a href="#"><i class="fa fa-home"></i></a></div> -->
            </div>
            <div class="col-lg-6">
                <div class="float-right">Last Updated On - 14 Nov 2019</div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <app-header></app-header>
    <app-body></app-body>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>