// CSS Reset, comment out if not required or using a different module
@import '~minireset.css/minireset';
@import './sass/variables';
@import './sass/mixins';
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    src: url(../src/assets/fonts/opensans/OpenSans-Regular.ttf);
}

body {
    font-family: 'Open Sans' !important;
    padding: 0;
    margin: 0;
    font-size: $base-font-size;
    background-color: $base-background !important;
    color: $base-text-color !important;
}

a {
    text-decoration: none;
    color: $base-text-color;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    outline: none;
}

.clear {
    clear: both;
}

img {
    max-width: 100%
}
@import "~igniteui-angular/lib/core/styles/themes/index";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

/* autoprefixer grid: on */

@include igx-core();
@include igx-theme($default-palette);
