@import './sass/variables';
@import './sass/mixins';
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    src: url(../src/assets/fonts/opensans/OpenSans-Regular.ttf);
}

body {
    font-family: 'Open Sans' !important;
    padding: 0;
    margin: 0;
    font-size: $base-font-size;
    background-color: $base-background !important;
    color: $base-text-color !important;
    background: url(assets/images/body-bg.png) repeat-x;
    padding-top: 50px;
    padding-bottom: 73px;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.clear {
    clear: both;
}